@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink)
}

.title1{
    font-family: 'Mr Dafoe', cursive;
}

.menu {
    display: none;
}
section{
    word-break: break-all;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px
}

.navbar-left {
    display: flex
}

.navbar-left ul {
    margin-left: 12px
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px
}

li{
    font-family: 'Alegreya Sans', sans-serif;
    margin: 10px;
    color: black;
}

.navbar-email {
    color: var(--very-light-pink);
    cursor: pointer;
    font-size: var(--sm);
    margin-right: 12px
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    background-color: white;
    left: 100%;
    transition: all 0.5s ease-out;
    opacity: 0;
    bottom: 0;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: 700
}

.active {
    left: 0;
    opacity: 1;
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  

}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink)
}

.mobile-menu ul li {
    margin-bottom: 24px
}



@media(max-width:280px){
    .title1{
        margin-right: 20px;
        
    }
}

@media(max-width:640px) {
    .menu {
        display: block;
        width: 15px;
        height: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .navbar-left ul {
        display: none
    }

    .navbar-email {
        display: none;

    }
    .title1{
        margin-left: 38%;
        
    }

}

@media(min-width:641px) {
    .mobile-menu {
        display: none
    }
}
